body{
    background-color: #aaaaff;
}

#box{
    height: 99vh;
    width: 99vw;
    border: 3px solid black;
}

#tickets{
    height: 25px;
    width: 70px;
    border: 3px solid yellow;
    float: right;
}

#btn{
    border-radius: 5px;
}

.dropdown{
    display: inline-block;
}

.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown ul{
    /* display: block;
    color: black;
    text-decoration: none; */
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}

.dropdown ul:hover{
    background-color: hsl(0, 0%, 90%);
}